/* 不管大小全部共用的元件!!!!!!!!!!!!!!!!!!!!!!!! */
#container2 .box {
  position: relative;
  justify-content: center; /* 水平居中 */
  background-color: #fdfef3;
}
#container2 .three {
  background-color: #f4eeda;
}
#container2 .four {
  background-color: #f4eeda;
}
/* 互動對話動畫------------------------ */
.dia .item2 img {
  animation: dialog 0.2s linear infinite;
  animation-direction: alternate;
  animation-play-state: running; /* 預設動畫在運行 */
}
@keyframes dialog {
  0% {
    transform: rotate(-0.3deg);
  }
  100% {
    transform: rotate(0.3deg);
  }
}

/* 文字---------------------------- */
h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.8;
  letter-spacing: 5px;
  color: #BC3E1E;
  z-index: 3;
}
.one h1 {
  position: absolute;
  letter-spacing: 20px;
  width: 80%;
  opacity: 0.8;
  color: #FCF9F9;
}
h2 {
  font-size: 18px;
  letter-spacing: 4px;
  box-sizing: border-box;
  color: #BC3E1E;
}
h3 {
  font-size: 14px;
  letter-spacing: 4px;
  box-sizing: border-box;
  color: #BC3E1E;
  /* border: #db9fc9 2px solid; */
  margin-bottom: 4%;
}
#container .box p {
  padding-left: 15px;
  font-size: 14px;
  color: #45362E;
  letter-spacing: 2.4px;
  line-height: 1.8;
  box-sizing: border-box;
  z-index: 2;
  /* border: #ff81d1 2px solid; */
}
br {
  line-height: 0.8;
}
/* (one的小白字) */
#container2 .box .white {
  position: absolute;
    color: #FCF9F9;
    /* border: #deff91 1px solid; */
    top: 80%;
    left: 12%;
    right: 12%;
    opacity: 0.7;
    z-index: 2;
}

/* img------------------------------------------- */
.one img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /* 如果需要不同方向的渐层，可以调整渐层方向，例如：to right, to left */
}

.five .next{
  /* border: #000 2px solid; */
  height: 4%;
  position: absolute;
  bottom: 1%;
  right: 0px;
  z-index: 20;
}


/* 電腦版!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) {
  /* 橫向排版------------------------- */
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }

  body {
    margin: 0;
  }
  /* 藍 */
  #container {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    /* background-color: #a9b; */
    position: absolute;
    top: 60px;
    width: calc(100vh - 60px);
    height: 100vw;
    /* border: #9df 3px solid; */
    box-sizing: border-box;
  }
  /* 亮綠 */
  #container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    height: 100vh;
    /* !!!改整個內容的寬度!!! */
    width: 250vw;
    font-size: 0;
    /* background-color: #fcf9f9; */
    /* border: #cfa 3px solid; */
    box-sizing: border-box;
    position: absolute;
    display: flex;
  }
  /* 淺紫 */
  #container2 .box {
    width: 50vw;
    height: calc(100vh - 60px);
    top: 60px;
    /* border: #bbc 3px solid; */
    box-sizing: border-box;
    display: block;
  }

  /* ################ box 1 ################## */
  #container2 .one {
    width: 45vw;
    display: flex;
  }
  .one h1 {
    top: 15%;
    left: 10%;
    writing-mode: vertical-lr;
  }

  /* ################ box 2 ################## */
  /* --------------------------------------- */
  #container2 .two {
    width: 55vw;
  }
  .two > div {
    margin: 4% 8% 0%;
    /* border: #6b5ab9 2px solid; */
  }
  .two .title {
    margin: 6% 8% 0%;
    /* border: #6b5ab9 2px solid; */
  }
  .two .p1 {
    display: flex;
    height: 30%;
    /* border: #717a0d 2px solid; */
  }

  .two .p1 .item1 {
    width: 70%;
    box-sizing: border-box;
    padding-right: 24px;
    /* border: #df7a37 2px solid; */
  }
  .two .p1 .item2 {
    display: flex; /* 將 item2 設為 flex 容器 */
    width: 30%;
    justify-content: flex-end; /* 子元素（如圖片）靠右對齊 */

    /* border: #e9d4c7 2px solid; */
  }
  .two .p1 img {
    object-fit: contain; /* 圖片會保持比例，不會超出父容器 */
    max-width: 100%; /* 限制寬度不超過父容器 */
    max-height: 100%;
    /* border: #df3794 2px solid; */
  }
  .two .dialog1 {
    position: absolute;
    bottom: 4.4%;
    display: flex;
  }
  .two .dialog1 .item1 {
    width: 30%;
    /* border: #79b95a 2px solid; */
  }
  .two .dialog1 .item2 {
    display: flex;
    align-items: center;
  }
  .dialog1 .item1 img {
    width: 100%;
    /* border: #153c7a 2px solid; */
    position: relative;
    z-index: 10;
  }
  .dialog1 .item2 img {
    width: 76%;
  }

  #dialog1-1:hover {
    transition: opacity 0.5s ease-in-out; /* 讓透明度變化平滑，時間0.5秒 */
  }
  /* <!-- ################ box 3  ################## --> */
  /* -------------------------- */
  .three > div {
    margin: 8% 8% 0%;
  }
  .three .dialog2 {
    display: flex;
    /* border: #79b95a 2px solid; */
  }

  .three .item2 {
    display: flex;
    align-items: center;
    /* border: #355227 2px solid; */
  }

  .three img {
    width: 90%;
    object-fit: contain; /* 圖片會保持比例，不會超出父容器 */
    max-width: 100%; /* 限制寬度不超過父容器 */
    max-height: 100%;
    /* border: #fa8a5a 2px solid; */
  }
  .three .rice {
    /* border: #2098ad 2px solid; */
    height: 50%;
  }
  .three .ricefield {
    width: 100%; /* 图片宽度为100% */
    height: 100%; /* 图片高度为100% */
    object-fit: cover;
    border-radius: 4px;
  }

  /* <!-- ################ box 4  ################## --> */
  /* ---------------------------- */
  .four h3 {
    margin-top: 11%;
  }
  .four > div {
    margin: 0% 8% 0% 10.5%;
    /* border: #dc27a6 2px solid; */
  }
  .four .photo1 {
    /* border: #79b95a 2px solid; */
    display: flex;
    margin-top: 5%;
  }
  .four .photo1 .item {
    width: 50%;
    /* border: #ebbbd7 2px solid; */
    display: flex; /* 將 item1 設為 flex 容器 */
    justify-content: flex-end; /* 子元素（如圖片）靠右對齊 */
  }
  .four img {
    box-sizing: border-box;
    object-fit: contain; /* 圖片會保持比例，不會超出父容器 */
    max-width: 100%; /* 限制寬度不超過父容器 */
    max-height: 100%;
  }
  .rice {
    padding-right: 8px;
  }
  .powder {
    padding-left: 8px;
  }

  /* <!-- ################ box 5  ################## --> */
  .five .first h3 {
    margin-left: 0%;
    margin-top: 11%;
    /* border: #79b95a 2px solid; */
  }
  .five > div {
    margin: 2% 8% 0% 10.5%;
    /* border: #79b95a 2px solid; */
  }
  .info {
    display: flex;
    position: relative;
    top: 5%;
  }
  .info .itemset {
    position: relative;
    /* border: #971f1f 2px solid; */
    width: 60%;
  }
  .info .item2 {
    /* border: #f33636 2px solid; */
    position: relative;
    margin-top: 8%;
  }
  .info .photoset {
    width: 40%;
    /* border: #ff9b9b 2px solid; */
  }

  .photoset img {
    width: 50%;
    object-fit: contain; /* 圖片會保持比例，不會超出父容器 */
    max-width: 100%; /* 限制寬度不超過父容器 */
    max-height: 100%;
    box-sizing: border-box;
    padding: 4px;
  }
  .five .dialog3 {
    /* border: #79b95a 2px solid; */
    position: absolute;
    bottom: 3%;
    display: flex;
    margin-top: 8%;
  }

  .five .dialog3 .item2 {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: #ffde21 2px solid; */
  }
  .five .dialog3 .item1 {
    display: flex;
    justify-content: flex-end;
  }
  .five .dialog3 img {
    width: 80%;
  }

  .five .dialog3 .text {
    width: 70%;
  }

  .box .brown {
    position: absolute;
    margin: 0%;
    bottom: 0;
    height: 6%;
    width: 100%;
    background-color: #45362E;
    z-index: 1;
    /* border: #79b95a 2px solid; */
  }

  /* 內容排版-------------------------------- */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 1024px) {
  .one h1 {
    font-size: 28px;
  }
  /* one的小白字----------------------- */
  #container2 .box .white {
    font-size: 12px;
  }
  #container .box p {
    font-size: 12px;
  }
}

/* 內容排版 手機板!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 767.5px) {
  #container {
    /* border: #f9cd1b 3px solid; */
    background-color: rgb(189, 216, 156);
  }
  #container2 {
    /* border: #79b95a 3px solid; */
    background-color: rgb(59, 148, 148);
    /* width: 100%; */
  }
  #menu-control {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    /*   z-index:3; */
  }

  /* <!-- ################手機內容排版共用  ################## --> */
  .box {
    display: flex;
    flex-direction: column; /* 保證子元素是垂直排列的 */
    align-items: center; /* 讓子元素水平置中 */
    width: 100%;
    /* border: #fa8a5a 5px solid; */
  }
  .box > div {
    width: 420px; /* 設置寬度為500px */
    margin: 4% 0; /* 上下留空距離，水平自動居中 */
  }
  .box h3 {
    text-align: left;
    margin: -4 0 8 0%;
  }
  h1 {
    font-size: 24px;
  }

  /* <!-- ################ box 1  ################## --> */
  .one {
    height: 280px;
    z-index: 10;
    /* border: #b93a3a 3px solid; */
    text-align: center;
  }
  .one img {
    height: 100%;
  }
  .one h1 {
    font-size: 20px;
    top: 60%;
  }

  /* <!-- ################ box 2  ################## --> */

  .title {
    /* border: #79b95a 2px solid; */
    text-align: center;
  }

  .p1 {
    /* border: #44a4fd 2px solid; */
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .p1 .item2 {
    /* border: #fd44fd 2px solid; */
    padding-bottom: 12px;
    width: 100%;
    height: 200px;
  }
  .p1 .item2 img {
    width: 100%;
    height: 100%;
    object-fit: none; /* 保持圖片比例並覆蓋整個div */
  }
  .dialog1 {
    display: flex;
    /* border: #79b95a 2px solid; */
  }

  .dialog1 .item1 {
    width: 40%;
    /* border: #5a80b9 2px solid; */
  }
  .dialog1 .item2 {
    width: 60%;
    /* border: #5a80b9 2px solid; */
  }
  .dialog1 .item1 img {
    width: 100%;
  }
  .dialog1 .item2 img {
    width: 100%;
  }

  /* <!-- ################ box 3  ################## --> */
  .three .dialog2 {
    display: flex;
    /* border: #79b95a 2px solid; */
  }
  .three .dialog2 img {
    width: 95%;
  }
  .rice img {
    width: 100%;
  }

  /* <!-- ################ box 4  ################## --> */

  .photo1 {
    display: flex;
  }
  .photo1 img {
    width: 98%;
  }
  .four .photo1 .item {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    /* border: #973c71 2px solid; */
  }
  .rice {
    padding-right: 4px;
  }
  .powder {
    padding-left: 4px;
  }

  /* <!-- ################ box 5  ################## --> */
  

  .five .info {
    display: flex;
    /* border: #eeb95a 2px solid; */
  }

  .info h3 {
    margin-bottom: 4%;
  }
  .info > div {
    width: 100%;
    /* border: #5a4113 2px solid; */
  }
  .info .itemset {
    padding-top: 4px;
    /* border: #d8961a 2px solid; */
  }
  .info .item2 {
    position: relative;
    top: 21%;
    display: block;
    margin-left: auto;
    /* border: #79b95a 2px solid; */
  }

  .info .item2 h3 {
    margin-bottom: 4%;
  }

  .photoset > div {
    display: flex;
    justify-content: center;
  }
  .photoset img {
    padding: 4px;
  }

  .dialog3 {
    display: flex;
    /* border: #79b95a 2px solid; */
  }

  .dialog3 .item1 {
    width: 40%;
    /* border: #5a80b9 2px solid; */
  }
  .dialog3 .item2 {
    width: 60%;
    /* border: #5a80b9 2px solid; */
  }
  .dialog3 .item1 img {
    width: 100%;
  }
  .dialog3 .item2 img {
    width: 100%;
  }

  .five .brown {
    position: absolute;
    margin-bottom: 0%;
    bottom: 0;
    height: 36px;
    width: 100%;
    background-color: #45362E;
    z-index: 10;
    /* border: #79b95a 2px solid; */
  }
  .five .next{
    /* border: #c74343 2px solid; */
    position: absolute;
    margin-bottom: 0px;
    width: auto;
    bottom: 4px;
    right: 8px;
    z-index: 20;
  }
}
