@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans JP", serif;
  letter-spacing: 2px;
}

.key_container{
    width: 100vw;
    height: 100vh;
    .key_layer{
        width: 100vw;
        height: 100vh;
        background-size: auto 100vh;
        background-size: cover;
        background-position: bottom center;
        position:fixed;
    }
}

/* ##############背景圖檔############## */
#parallax0{background-image: url(./Tourism/webimg/newloadppp/1.svg);}
#parallax1{background-image: url(./Tourism/webimg/newloadppp/2.svg);}
#parallax2{background-image: url(./Tourism/webimg/newloadppp/3.svg);}
#parallax3{background-image: url(./Tourism/webimg/newloadppp/4.svg);}
#parallax4{background-image: url(./Tourism/webimg/newloadppp/5.svg);}
#parallax5{background-image: url(./Tourism/webimg/newloadppp/6.svg);}
#parallax6{background-image: url(./Tourism/webimg/newloadppp/7.svg);}
#finalImage{background-image: url(../Tourism/webimg/newloadppp/finalimg.gif);}
.after{
    background-color: #08070715;
    height: 1000px;;
}

/* 檢查透明問題 */
.key_layer {
    background-color: rgb(242, 242, 242); 
}

.final_image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* background-image: url(../Tourism/webimg/newloadppp/大實驗瓶.png); 請替換為你的圖片路徑 */
    background-size: cover;
    background-position: center;
    opacity: 0; /* 初始透明度為 0 */
    transition: opacity 1.0s ease-in-out; /* 平滑過渡效果 */
    pointer-events: none; /* 防止影響點擊事件 */
}

#finalLink {
    text-decoration: none; /* 去掉連結的底線 */
    pointer-events: auto; /* 啟用連結點擊事件 */
}

@keyframes swing {
    0% { transform: translate(-50%, 0) rotate(1deg); }
    /* 50% { transform: rotate(0deg); } */
    100% { transform: translate(-50%, 0) rotate(-1deg); }
}

@keyframes opa{
    0% { opacity: 0.3; }
    100% { opacity: 1; }
}

#parallax0 p{
    background-color: #e4f4f4; 
    color: #45362e;
    font-size: 12px;
    padding: 8px;
    border-radius: 50px;
    position: fixed;
    top:85%;
    left:50%;
    transform: translate(-50%, 0);
    animation: opa 1s infinite alternate; /* 2秒循環播放 */
}

.final_button {
    position: absolute;
    top:75%;
    left:50%;
    background-color: #45362E; 
    color: #f7f4f2; /* 白色文字 */
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    /* box-shadow: 2px 5px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
    animation: swing 0.5s ease-in-out infinite alternate;
}


.final_button:hover {
    animation: none; 
    background-color: #BC3e3e;
    transform: translate(-50%, 0) scale(1.05);/* 滑鼠懸停時微微放大 */
    
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
